<div id="headerwrap">
  <div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h1>Uma Nova Carreira</h1>
      <h3>Encontre um novo trabalho. Inicie uma nova vida.</h3>
      <h5>Mais da metade dos brasileiros não estão satisfeitos com seu emprego atual. Não é uma vergonha.</h5>
      <h5>Encontre aqui algo que goste e seja feliz.</h5>
    </div>
  </div>
  </div>
</div>