<div class="container mtb">
  <div class="row">
    <div class="col-lg-8">
      <h4>Ofereça uma nova oportunidade!</h4>
      <div class="hline"></div>
      <p>Lembre-se que você está oferecendo uma oportunidade de recomeço.
      As vagas não devem pedir experiência técnica ou idade específica.</p>

      <%= render 'form' %>
    </div>
  </div>
</div>

<%= link_to 'Back', opportunities_path %>
